!!! 5
%html
  %head
    %title 500 Internal Server Error
  %body
    %h1 Ooops an Error 500!

    %p Its not your fault, its ours!!! The application encountered an error and could not complete your request.

